# Unwanted Subdirectories
bin/
obj/
build*/
dependencies/

# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Text Editors
*.swp
*~

# Code::Blocks
*.stackdump
*.depend
*.layout*
*.cbp

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
